<div class='relative bg-white'>
  <div class='mx-auto px-4 sm:px-6'>
    <nav class='flex justify-center itmes-center py-6 md:justify-start md:space-x-10'>
      <!-- STORE NAME / STORE LOGO -->
      <div class='flex justify-startlg:flx-1 truncate'>
        <div class='text-xl font-bold truncate'>
          {{ shop.name | slice: 0, 9 }}
        </div>
      </div>

      <!-- NAVIGATION MENU -->

      <!-- CART BUTTON -->
    </nav>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Main Navigation Menu"
    }
  ]
}
{% endschema %}
