<div class="text-center pt-3 flex flex-col items-center justify-center min-h-[100vh]">
  <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="w-[25%] pb-2">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>