<div class='px-4 py-8'>
  {% paginate collection.products by section.settings.products_per %}
    <h1 class='text-3xl text-center'>{{ collection.title }}</h1>

    <div class='max-w-6xl mx-auto'>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p class='text-center'>There is no collection inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "number",
      "id": "products_per",
      "label": "Products Per Page",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 6,
      "info": "Adjust number of products to show per collection"
    }
  ]
}
{% endschema %}
