<section class='px-4 py-8'>
  <div class='grid grid-cols-3 w-full md:max-w-6xl justify-center px-3 mx-auto'>
    <a
      href='{{ routes.collections_url }}'
      class='col-span-1 justify-self-start border-b border-b-gray-600 text-gray-600 hover:text-gray-800 transition-all duration-150 ease-in px-2 py-1 inline-block'
    >
      &larr; Collections
    </a>

    <h1 class='col-span-2 text-3xl text-center inline-block justify-self-end md:justify-self-center'>
      {{ collection.title }}
    </h1>
  </div>

  {% paginate collection.products by section.settings.products_per %}
    <div class='max-w-6xl mx-auto'>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p class='text-center'>There is no collection inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "number",
      "id": "products_per",
      "label": "Products Per Page",
      "default": 6,
      "info": "Adjust number of products to show per collection"
    }
  ]
}
{% endschema %}
